*, ::after, ::before {
    box-sizing: border-box;
}
html,body {
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3  {
    font-size: 3rem;
}
h4  {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
}

.bg-light {
    background: rgba(246, 243, 243);
}

.w-100 { width: 100%;}

.nav-bar {
    border-bottom: 1px solid #efefef;
    display: flex;

}

.nav-bar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 16px;
}

.nav-bar ul li {
    padding: 1px 15px;
    font-weight: bold;
}

.nav-bar ul li:hover a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    width: 100%;
    height: .5rem;
    background: #dca140;
}
.nav-bar ul li a {
    text-decoration: none;
    position: relative;
}

#hero {
    border:1px solid transparent;
    height: 60vh;
    background: linear-gradient(to bottom, rgba(246, 243, 243, .5), rgba(246, 243, 243, .5)), url('../images/background/hero_background.jpg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-gap: 3rem;
}

.recipe-container .recipe-card .recipe-image  img {
    width: 100%;
}

.recipe-card {
    background: #f6f3f3;
}

.recipe-card .recipe {
    padding: 0 15px;
}

.recipe-container, .container{
    padding:2rem;
    max-width: 90%;
    margin: 0 auto;
}

.recipe-card-action  {
   padding: 1.5rem 0;
}

.recipe-card-action button, button  {
    border: 0;
    padding: 1rem 1.5rem;
    background: #dca140;
    color: #ffffff;
}

footer {
    padding: 2rem 0;
    background: #f6f3f3;
}

footer .footer-menu {
        display: flex;
    justify-content: center;
    list-style: none;

}

.add-section {
    text-align: center;
    margin-bottom: 2rem;
}

footer .footer-menu li a {
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
}

footer .logo-wrapper {
    text-align: center;
}

footer .copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5efef;
    text-align: center;
    padding: 2rem;
    font-size: 1.6rem;
}

/* Responsive Styles //

 */
@media screen  and (min-width: 500px) {
    #toggle-menu {
        display: none;
    }
    .nav-bar {
        justify-content: center;
    }
}
@media screen and (max-width: 500px){
    html {
        overflow-x: hidden;
    }
    .nav-bar {
        position: relative;
        justify-content: space-between;
    }
    #navbar-menu {
        display: none;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        top: 100%;
        background: white;
        padding-bottom: 2rem;
    }

    .nav-bar ul li {
        padding-bottom: 2rem!important;
    }

    #toggle-menu {
        padding: 1rem;
        display: block;
        height: 2rem;
        width: 6rem;
    }
    .toggle-icon {
        height: 4px;
        background: #dca140;
        display: block;
        margin-bottom: 5px;
        transition: all .5s ease-in-out;
    }

    .col-xs-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .col-xs-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .col-xs-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }



    .nav-bar ul li {
        padding: 1px 5px;
        font-weight: bold;
    }
    .nav-bar ul li img {
       width: 40px;
    }
}

.display-flex {
    display: flex!important;
}



/* Recipes page Style */

.recipe-ingredients {
    font-size: 1.6rem;
    font-weight: bold;
}

.recipe-ingredients li {
   padding: 1.5rem 0;
}

@media screen and (min-width: 1920px) and (max-width: 5000px){
    .col-xl-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-xl-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-xl-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-xl-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-xl-2 {
        gap: 2px;
    }

    .display-xl-none {
        display: none!important;
    }

    .display-xl-block {
        display: block!important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px){
    .col-lg-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-lg-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-lg-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-lg-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-lg-2 {
        gap: 2px;
    }
    .display-lg-none {
        display: none!important;
    }
    .display-lg-block {
        display: block!important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .col-md-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-md-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-md-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-md-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-md-2 {
        gap: 2px;
    }
    .display-lg-none {
        display: none!important;
    }
    .display-lg-block {
        display: block!important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1279px){
    .col-md-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-md-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-md-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-md-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-md-2 {
        gap: 2px;
    }
    .display-lg-none {
        display: none!important;
    }
    .display-lg-block {
        display: block!important;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px){
    .col-sm-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-sm-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-sm-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-sm-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-sm-2 {
        gap: 2px;
    }
    .display-lg-none {
        display: none!important;
    }
    .display-lg-block {
        display: block!important;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px){
    .col-xs-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-xs-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-xs-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-xs-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-xs-2 {
        gap: 2px;
    }
}

@media screen and (min-width: 0px) and (max-width: 320px){
    .col-2xs-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .col-2xs-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .col-2xs-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .col-2xs-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .gap-2xs-2 {
        gap: 2px;
    }
    .display-lg-none {
        display: none!important;
    }
    .display-lg-block {
        display: block!important;
    }
}

@media screen and (max-width: 1199px){
    .mxw-1199px-display-none {
        display: none!important;
    }
}